:root {
  --color1: rgb(238, 187, 18);
  --color2: rgb(255, 255, 255);
  --bg1: rgb(33, 37, 41);
  --bg2: rgb(7, 7, 7);
}

h1,
h3,
h5,
p {
  color: var(--color2);
}

section {
  padding: 100px 0;
  background: var(--bg2);
}
/* Header Section */
header {
  padding: 150px 0;
  background: var(--bg1);
}

@media screen and (max-width: 576px) {
  .developer img {
    display: none;
  }
}
/* Why? Section*/
.why {
  background: var(--bg1);
}

.why h5 {
  padding: 30px;
  height: 100%;
  background: var(--bg2);
}
/* Information Section */
.gh-circle i {
  font-size: 25px;
  color: var(--color1);
}

.gh-circle {
  margin: 0 auto 15px;
  width: 70px;
  height: 70px;
  border: 3px solid var(--color1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gh-circle:hover {
  margin: 0 auto 15px;
  width: 70px;
  height: 70px;
  border: 3px solid var(--color1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 50%;
}

.gh-line {
  width: 100px;
  height: 3px;
  background-color: var(--color1);
  margin: 15px auto;
}

footer {
  padding: 150px 0;
  background: var(--bg1);
}

.gh-btn1 {
  display: block;
  max-width: 200px;
  margin: 0 auto;
  padding: 8px 30px;
}

/* Colors */
.gh-color1 {
  color: var(--color1);
}

.gh-color2 {
  color: var(--color2);
}

.gh-bg1 {
  background-color: var(--bg1);
}

.gh-bg2 {
  background-color: var(--bg2);
}
